<div class="container">
    <div class="content">
    <h1 class="title">Film Rental and Management App</h1>
    <p class="sub-title">Rent your favourite movies at exciting offers and renew them regularly.</p>
    <nav class="navbar">
        <ul>
          <li ><a routerLink="/login" routerLinkActive="active" ariaCurrentWhenActive="page">Login</a></li>
          <li ><a routerLink="/home" routerLinkActive="active" ariaCurrentWhenActive="page">Home</a></li>
          <li ><a routerLink="/edit-film" routerLinkActive="active" ariaCurrentWhenActive="page">Add or Edit Film</a></li>
          <li ><a routerLink="/report" routerLinkActive="active" ariaCurrentWhenActive="page">Analytic Reports</a></li>
        </ul>
        <button class="btn btn-primary" (click)="logout()">Log Out</button>
    </nav> 
    </div>
</div>
  